.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: url("/assets/img/mask_group.svg") no-repeat center center/cover;
  padding: 30px;
  margin-top: 70px;
}

.submit-card {
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 26px 60px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.submit-title {
  color: #660708;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 25px;
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.mat-form-field {
  font-family: "Inter", sans-serif;
}

.terms {
  font-size: 13px;
  text-align: left;
  color: #394149;
  margin: 10px 0 5px;
}

.terms a {
  color: #660708;
  font-weight: 500;
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
  color: #ba181b;
}

.btn-submit {
  background-color: #8b1d2c !important;
  color: #ffffff !important;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  padding: 12px 25px;
  border-radius: 15px !important;
  margin-top: 10px;
  transition: background 0.3s ease;
}

.btn-submit:hover {
  background-color: #ba181b !important;
}

.login-link {
  margin-top: 15px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #394149;
}

.login-link a {
  color: #ba181b;
  font-weight: 600;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .submit-card {
    padding: 25px 25px;
  }

  .submit-title {
    font-size: 25px;
  }
}
