/* ----- ESTILO BASE ----- */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffe6e6;
  z-index: 1000;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
}
.logo img {
  height: auto;
  width: 280px;
}

/* ----- MENÚ PRINCIPAL ----- */
.menu-horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0;
  padding: 0;
  transition: transform 0.3s ease-in-out;
}

.menu-horizontal li a {
  display: block;
  padding: 10px 20px;
  color: #161a1d;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

/* Clase activa (Angular routerLinkActive="active") */
.menu-horizontal li a.active {
  color: #ba181b;
  border-bottom: 2px solid #ba181b;
}

/* Hover */
.menu-horizontal li a:hover {
  color: #ba181b;
}

/* Botón de Iniciar Sesión */
.menu-horizontal .iniciar-sesion-link {
  background-color: #8b0000;
  color: #ffff !important;
  padding: 8px 20px;
  border-radius: 20px;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}

.iniciar-sesion-link:hover {
  background-color: #ba181b !important;
}

/* ----- BOTONES DE MENÚ RESPONSIVE ----- */
.open-menu,
.close-menu {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.open-menu img,
.close-menu img {
  width: 25px;
  height: 25px;
}

/* ----- RESPONSIVE ----- */
@media (max-width: 768px) {
  .logo img{
    width: 240px;
  }
  .open-menu {
    display: block;
    position: absolute;
    right: 25px;
  }

  .menu-horizontal {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding-top: 100px;
    background-color: #ffe6e6;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .menu-horizontal.active {
    transform: translateX(0);
  }

  .close-menu {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .menu-horizontal li {
    width: 100%;
    text-align: left;
    padding: 0 20px;
  }

  .menu-horizontal li a {
    display: block;
    width: 100%;
  }
  .menu-horizontal .iniciar-sesion-link{
    background-color: #8b0000;
    color: white !important;
    width: 100%;
    max-width: 180px;
    margin-top: auto;
    margin-bottom: 30px;
    text-align: left;
    border-radius: 20px;
    padding: 10px 0;
    font-weight: 500;
    box-sizing: border-box;
    transition: background 0.3s ease;
  }
}
