:root {
  --rojo-principal: #BA181B;
  --verde-suave: rgba(113, 193, 111, 0.35);
  --verde-pastel-texto: #4f8a4f;
  --bg-card: #ffffff;
  --gris-texto: #585858;
}

.dashboard {
  padding: 30px 60px;
  font-family: 'Inter', sans-serif;
}

.titulo {
  margin-top: 70px;
  font-size: 48px;
  color: #BA181B ;
  font-weight: 600;
  margin-bottom: 30px;
}

/* ====== TARJETAS ====== */
.cards-container {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.card-documentos {
  background: #BA181B;
  color: white;
  width: 300px;
  height: 120px;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.card-chart {
  background: #fff;
  padding: 35px;
  border-radius: 18px;
  width: 500px;
  height: 250px;
  display: flex;
}




.card-documentos .cantidad {
  font-size: 56px;
  font-weight: bold;
  margin: 0;
}

/* ====== LISTADO ====== */

.subtitulo-reportes {
  margin-top: 55px;
  color: #BA181B !important;
  font-size: 24px;
}

.lista-reportes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.reporte-item {
  display: flex;
  justify-content: space-between;
  grid-template-columns: 2.2fr 1fr 0.7fr 0.6fr;
  align-items: center;
  padding: 10px 10px;
  background: #fff;
  border-radius: 10px;
}
.icono-reporte {
  width: 35px;
  height: 35px;
}
/* Estado */
.estado {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 6px;
}

.estado-invalido {
  background: #BA181B !important;
  color: #ffffff;
}

.estado-valido {
  background: #4f8a4f !important;
  color: #ffffff;
}
.btn-ver {
  border: none;
  background: #660708 !important;
  color: white;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
}
.btn-ver:hover {
  background: #BA181B !important;
}
.modal-backdrop {
  position: fixed; top: 0; left: 0; width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex; justify-content: center; align-items: center;
  z-index: 1000;
}
.modal-content {
  background-color: #fff; padding: 20px; border-radius: 8px; width: 400px;
}
.modal-footer { display: flex; justify-content: flex-end; margin-top: 20px; }

.ver-mas {
  display: inline-block;
  margin-top: 12px;
  color: #BA181B !important;
  font-weight: 600;
  cursor: pointer;
}
