<div class="actualizaciones-container">
  <div class="contenido-principal">
    <h1 class="titulo-principal">
      <mat-icon class="icono-titulo">system_update</mat-icon>
      Gestión de Actualizaciones del Sistema
    </h1>
    <div *ngIf="mensajeExito" class="mensaje mensaje-exito">{{ mensajeExito }}</div>
    <div *ngIf="mensajeError" class="mensaje mensaje-error">{{ mensajeError }}</div>


    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Name Column -->
        <ng-container matColumnDef="version">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Version </th>
          <td mat-cell *matCellDef="let element"> {{element.version}} </td>
        </ng-container>
        <!-- Fecha Column -->
        <ng-container matColumnDef="fechaProgramada">
          <th mat-header-cell *matHeaderCellDef> Fecha programada </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaProgramada|date:'dd/MM/yyyy'}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <div *ngIf="actualizaciones.length === 0" class="sin-datos">
          No hay actualizaciones disponibles
        </div>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>










    <div class="seccion-programacion">
      <div class="selector-version">
        <label for="version">Versión     </label>
        <input
          type="text"
          id="version"
          [(ngModel)]="versionIngresada"
          class="input-fecha"
          placeholder="Ej. v1.0.0"
        />
      </div>

      <div class="selector-fecha">
        <label for="fecha">Fecha</label>
        <input
          type="date"
          id="fecha"
          [(ngModel)]="fechaSeleccionada"
          [min]="fechaSeleccionada"
          class="input-fecha"
        />
      </div>

      <button
        class="btn-programar"
        (click)="programarActualizacion()"
        [disabled]="cargando"
      >
        {{ cargando ? 'Programando...' : 'Programar Actualización' }}
      </button>
    </div>
  </div>
</div>
